body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: bisque;

  }

  h1 {
    text-align: center;
    color: #333;
  }

  .produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  .produto h2 {
    margin: 0;
    color: #333;
  }

  .produto p {
    margin: 5px 0;
    color: #666;
  }

  .produto span {
    color: #009879;
    font-weight: bold;
  }

  .contato-info {
    margin-top: 30px;
    text-align: center;
  }